@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>beschrijving Barld Boot</h3>

<p>
    Barld is een student Informatica aan de Hogeschool Rotterdam. Barld heeft het afgelopen schooljaar (2014-2015) met succes zijn MBO opleiding Applicatieontwikkeling versneld afgerond. Hij heeft zich tijdens deze opleiding en stages hiervoor vooral gespecialiseerd .Net development in de taal C#. Naast school en stage zit hij niet stil en is hij graag bezig met uitdagingen en leest hij interessante artikelen/tutorials om zijn kennis te verbreden.
</p>
<p>Op dit moment is hij zich aan het verdiepen in F#</p>
