@{
    ViewData["Title"] = "Home Page";
}
<hgroup>
    <h1>Portfolio Barld Boot</h1>
    <h2>Student Informatica Hogeschool Rotterdam, software developer</h2>
</hgroup>

<div class="row" ng-app="Portfolio">
    <div class="col-md-3">
        <h3>Stages</h3>
        <ul>
            <li>Bever Inovations B.V.</li>
            <li>Prosoftware</li>
            <li>Codersacademy</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Actief op internet</h3>
        <ul>
            <li><a target="_blank" href="http://linkedin.com/in/Barld">Linkedin</a></li>
            <li><a target="_blank" href="http://github.com/barld">Github</a></li>
            <li><a target="_blank" href="http://barld.nl">barld.nl mijn persoonlijke blog</a></li>
        </ul>
    </div>
    <div class="col-md-3" ng-controller="ProjectController" >
        <h3><a asp-controller="Project" asp-action="index">Projecten</a></h3>
        <ul ng-repeat="p in all">
            <li><a href="~/Project/{{p.Name}}">{{p.Name}}</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3><a asp-controller="LearnGoal" asp-action="index" >Leerdoelen</a></h3>
        <ul>
            <li>kennisdoelen</li>
            <li>vaardigheidsdoelen</li>
            <li>hoedingsdoelen</li>
        </ul>
    </div>
</div>
