@{
    ViewData["Title"] = "Home Page";
}
<hgroup>
    <h1>Portfolio Barld Boot</h1>
    <h2>Student Informatica Hogeschool Rotterdam, software developer</h2>
</hgroup>

<div class="row">
    <div class="col-md-3">
        <h3>Stages</h3>
        <ul>
            <li>Bever Inovations B.V.</li>
            <li>Prosoftware</li>
            <li>Codersacademy</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Actief op internet</h3>
        <ul>
            <li><a target="_blank" href="http://linkedin.com/in/Barld">Linkedin</a></li>
            <li><a target="_blank" href="http://github.com/barld">Github</a></li>
            <li><a target="_blank" href="http://barld.nl">barld.nl mijn persoonlijke blog</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Projecten</h3>
        <ul>
            <li>Mens erger je niet</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Leerdoelen</h3>
        <ul></ul>
    </div>
</div>
