<h2>Leerdoelen</h2>

<p>
    Hieronder een lijst met doelen waar ik mij komende tijd op wil gaan richten. Daarnaast heb ik heb ik op mij persoonlijke website nog een lijstje met technieken die ik mijzelf vaardig wil maken of verbeteren http://barld.nl/wensen-lijst/
</p>    
<h3>kennisdoelen</h3>
<ul>
    <li>Ik wil binnen een maand genoeg kennis op kunnen van een nieuw platform of techniek om hiermee met genoeg vertrouwen een middelgroot project te kunnen beginnen aan het einde van het cursusjaar.</li>
    <li>Ik wil goed de functionaliteiten van een functionele taal kunnen begrijpen en toepassen aan het einde van het cursusjaar</li>
</ul>
    
<h3>vaardigheidsdoelen</h3>
<ul>
    <li>Ik wil beter worden in het zelfstandig aanleren van nieuwe kennis</li>
</ul>
    
<h3>houdingsdoelen</h3>
<ul>
    <li>Ik wil mijn kritische nadenken en vaardigheden om vooruit te denken verder ontwikkelen. Daarnaast wil ik ze beter kunnen toepassen</li>
</ul>
   

